extends layout

block content
	.container
		.hero-unit
			h1 SEARCH Page:

		//-input#search(type="search", placeholder="Enter bus number")
		#dropdowns
			#agency
				p agency
				select#agencyList.form-control
					include ./template/optionsTemplate.html
			#route
				p route
				select#routeList.form-control
					include ./template/routeTemplate.html
			#direction
				p direction
				select#directionList.form-control
					include ./template/directionTemplate.html
			#stop
				p stop
				select#stopList.form-control
					include ./template/stopsTemplate.html
		
		ul#results
		include ./template/template.html
		#predictions
		include ./template/predictionsTemplate.html

		script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0/handlebars.min.js")
		script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
		script(src="/javascripts/search.js")