extends layout

block content
	h1 Display bus stops for bus number:
	input#search(type="search", placeholder="Enter bus number")
	#dropdowns
		select#agencyList
			option#options
		#route
			p route
			select#routeList
				option#optionsRoute
		#direction
			p direction
			select#directionList
				option#optionsDirection
		#stop
			p stop
			select#stopList
				option#optionsStop
	
	ul#results
	include template.html
	#timebox

	script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0/handlebars.min.js")
	script(src="/javascripts/main.js")