extends layout

block content
	.container
		.page-header
			h1 SEARCH Page:

		//-input#search(type="search", placeholder="Enter bus number")
		#dropdowns
			#agency.row
				div.col-xs-2
					div.name agency
				div.col-xs-10
					select#agencyList.form-control.btn.btn-lg.btn-default
						include optionsTemplate.html
			#route.row
				div.col-xs-2
					div.name route
				div.col-xs-10
					select#routeList.form-control.btn.btn-lg.btn-default
						include routeTemplate.html
			#direction.row
				div.col-xs-2
					div.name direction
				div.col-xs-10
					select#directionList.form-control.btn.btn-lg.btn-default
						include directionTemplate.html
			#stop.row
				div.col-xs-2
					div.name stop
				div.col-xs-10
					select#stopList.form-control.btn.btn-lg.btn-default
						include stopsTemplate.html
		
		ul#results
		include template.html
		#predictions.alert.alert-info
		include predictionsTemplate.html
		.row
			#loading

		script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0/handlebars.min.js")
		script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
		script(src="/javascripts/main-mobile.js")