body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#search {
  text-align: center;
  width:500px;
  height: 70px;
  font-size:3.5em;
  border-radius:8px;
}

.name {
  text-align: right;
  height: 34px;
  padding: 6px 0;
}

.row {
  margin-bottom: 12px;
}

#predictions {
  /*height: 210px;*/
  text-align: center;
}
  #predictions p:nth-child(2) {
    font-size: 50px;
  }
  #predictions p:nth-child(n+3) {
    font-size: 22px;
  }

#loading {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url('/images/ajax-loader.gif') no-repeat center;
}